:root {
  --color-primary: #30475e;
  --color-secondary: #c1a57b;
  --color-tertiary: #f2a365;
  --color-white-gray: #ececec;
  --color-white: #fafafa;
  --color-black: #222831;

  --font-primary: Lato, sans-serif;
  --font-secondary: Fugaz One, cursive;

  --border-radius: 4px;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Lato, sans-serif;
  line-height: 1.4;
  background: var(--color-white-gray)
}

a {
  text-decoration: none;
  color: black;
  padding: 10px 20px;
}

ul {
  list-style-type: none;
}

img {
  max-width: 100%;
}